<!DOCTYPE html>
<html>

	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syntax Highlighting Post</title>
	<!--[if lte IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/style.css">
	<script src="/assets/js/jquery-1.11.0.min.js" type="text/javascript"></script>
	<script src="/assets/js/basic.js" type="text/javascript"></script>
</head>

	
	<body class="post output reader-day-mode reader-font1">
	
		<!-- 几个重要的导航栏 -->
<div class="navbar">

	<!-- 左上角菜单导航（默认隐藏） -->
<div class="navbar-menu">
	<button class="dl-trigger">Open Menu</button>
	<ul class="dl-menu">
		<li class="dl-back">
			<a href="/study/categories/study">简书帮助中心</a>
		</li>
		<div>
			<ul class="sub-menu">
				
				<li><a href="/study/background-image/">Post with a Background Image</a></li>
				
				<li><a href="/study/code-highlighting-post/">Syntax Highlighting Post</a></li>
				
				<li><a href="/study/sample-link-post/">Sample Link Post</a></li>
				
				<li><a href="/study/video-post/">A Post with a Video</a></li>
				
				<li><a href="/study/readability-feature-post/">Post with Large Feature Image and Text</a></li>
				
			</ul>
		</div>
	</ul>
</div>
	
	<!-- 右上角作者信息导航 -->
<div class="navbar-user">
	<a class="dl-trigger avatar">
		<img src="/assets/images/avatar.jpg">
		<b class="caret"></b>
	</a>
	<ul class="dl-menu">
		<li class="dl-back"><a href="#">back</a></li>
		<li>
			<img src="/assets/images/avatar.jpg" class="author-photo">
			<h4>Lendfating</h4>
			<p>Your bio goes here. It shouldn't be super long but a good two sentences or two should suffice.</p>
		</li>
		<li><a href="/about">Learn More</a></li>
		<li><a href="mailto:"><i class="icon-envelope"></i> Email</a></li>
	</ul>
</div>
	
	<!-- 右上角 Post 显示信息设置 -->
<div class="navbar-setting">
	<a class="dl-trigger"><i class="icon-font"></i></a>
	<div class="setting-box">
		<div class="btn-group change-background">
			<a class="btn btn-daytime active" data="reader-day-mode"><i class="icon-sun"></i></a>
			<a class="btn btn-nighttime" data="reader-night-mode"><i class="icon-moon"></i></a>
		</div>
		<div class="btn-group change-font">
			<a class="btn font active" data="reader-font1">宋体</a>
			<a class="btn font hei" data="reader-font2">黑体</a>
		</div>
	</div>
</div>
	
	<!-- 右下角返回顶部导航（默认隐藏） -->
<div class="navbar-go2top hidden-go2top">
	<a href="#"> <i class="icon-circle-arrow-up"></i></a>
</div>
	
</div>
<!-- end of 几个重要的导航栏 -->

		<!-- 主体显示区 -->
		<div id="show-note-container">
			<div class="post-bg" id="flag">
				<div class="container">
					<div class="people">
						<a href="/study/categories/study" class="author name">
							<div class="avatar">
								<img src="/assets/images/categories/study.jpg">
							</div>
							<br>
							study
						</a>
						<div class="about">
							<p class="description intro">你就是那个异想天开的诗人</p>
						</div>
					</div>
					<div class="article">
						<div class="preview">
							<h1 class="title">Syntax Highlighting Post</h1>
							<div class="article-info">
								<p>
									发表于
									<a href="/study/categories/study"><i class="icon-book"></i>study</a>
									
									&nbsp;
									<i class="icon-th"></i>
									
								</p>
							</div>
							<div class="show-content">
								[Syntax highlighting](http://en.wikipedia.org/wiki/Syntax_highlighting) is a feature that displays source code, in different colors and fonts according to the category of terms. This feature facilitates writing in a structured language such as a programming language or a markup language as both structures and syntax errors are visually distinct. Highlighting does not affect the meaning of the text itself; it is intended only for human readers.

### Pygments Code Blocks

To modify styling and highlight colors edit `/assets/less/pygments.less` and compile `main.less` with your favorite preprocessor. Or edit `main.css` if that's your thing, the classes you want to modify all begin with `.highlight`.

{% highlight css %}
#container {
    float: left;
    margin: 0 -240px 0 0;
    width: 100%;
}
{% endhighlight %}

Line numbering enabled:

{% highlight html linenos %}
{% raw %}
<nav class="pagination" role="navigation">
    {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous article</a>
    {% endif %}
    {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next article</a>
    {% endif %}
</nav><!-- /.pagination -->
{% endraw %}
{% endhighlight %}

{% highlight ruby %}
module Jekyll
  class TagIndex < Page
    def initialize(site, base, dir, tag)
      @site = site
      @base = base
      @dir = dir
      @name = 'index.html'
      self.process(@name)
      self.read_yaml(File.join(base, '_layouts'), 'tag_index.html')
      self.data['tag'] = tag
      tag_title_prefix = site.config['tag_title_prefix'] || 'Tagged: '
      tag_title_suffix = site.config['tag_title_suffix'] || '&#8211;'
      self.data['title'] = "#{tag_title_prefix}#{tag}"
      self.data['description'] = "An archive of posts tagged #{tag}."
    end
  end
end
{% endhighlight %}


### Standard Code Block

    {% raw %}
    <nav class="pagination" role="navigation">
        {% if page.previous %}
            <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous article</a>
        {% endif %}
        {% if page.next %}
            <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next article</a>
        {% endif %}
    </nav><!-- /.pagination -->
    {% endraw %}


### Fenced Code Blocks

To modify styling and highlight colors edit `/assets/less/coderay.less` and compile `main.less` with your favorite preprocessor. Or edit `main.css` if that's your thing, the classes you want to modify all begin with `.coderay`. Line numbers and a few other things can be modified in `_config.yml` under `coderay`.

~~~ css
#container {
    float: left;
    margin: 0 -240px 0 0;
    width: 100%;
}
~~~

~~~ html
{% raw %}<nav class="pagination" role="navigation">
    {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous article</a>
    {% endif %}
    {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next article</a>
    {% endif %}
</nav><!-- /.pagination -->{% endraw %}
~~~

~~~ ruby
module Jekyll
  class TagIndex < Page
    def initialize(site, base, dir, tag)
      @site = site
      @base = base
      @dir = dir
      @name = 'index.html'
      self.process(@name)
      self.read_yaml(File.join(base, '_layouts'), 'tag_index.html')
      self.data['tag'] = tag
      tag_title_prefix = site.config['tag_title_prefix'] || 'Tagged: '
      tag_title_suffix = site.config['tag_title_suffix'] || '&#8211;'
      self.data['title'] = "#{tag_title_prefix}#{tag}"
      self.data['description'] = "An archive of posts tagged #{tag}."
    end
  end
end
~~~
							</div>
							<div class="meta-bottom clearfix">
								<div id="like-btn-package" class="like">
									<a href="" class="btn like-button ">
										<i class="icon-heart-empty"></i> 喜欢
									</a>
								</div>
								<ul class="share-note-text">
									<li><a href="" class="write-letter"><i class="icon-envelope"></i></a></li>
									<li><a href=""><i class="icon-weixin"></i></a></li>
									<li><a href=""><i class="icon-weibo"></i></a></li>
									<li><a href=""><i class="icon-twitter"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Functions -->
			<script>
			function change_tab_pane(index){
				obj_li = jQuery("div.function div.comment div.nav li");
				obj_tab_pane = jQuery("div.function div.comment div.tab-content div.tab-pane");
				obj_li.removeClass("active");
				$(obj_li[index]).addClass("active");
				obj_tab_pane.removeClass("active");
				$(obj_tab_pane[index]).addClass("active");
			}
			</script>
			<div class="function">
				<div class="comment">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#" onclick="change_tab_pane(0); return false;">入选专题</a>
						</li>
						<li class="nav-author">
							<a href="#" onclick="change_tab_pane(1); return false;">作者信息</a>
						</li>
						<li class="">
							<a href="#" onclick="change_tab_pane(2); return false;">评论</a>
						</li>
						<li class="">
							<a href="#" onclick="change_tab_pane(3); return false;">喜欢</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="collections tab-pane clearfix active" id="collections">
							<ul id="note-collections">
								<li>
									<a href="/study/categories/study">
										<div class="img-broder">
											<img src="/assets/images/categories/study.jpg" thumbnail="300x300">
										</div>
										<br>
										study
									</a>
								</li>
							</ul>
						</div>
						<div class="tab-pane" id="author">
							<div class="people">
								<a href="http://jianshu.io/users/218f09480a7f" class="author name">
									<div class="avatar">
										<img src="/assets/images/avatar.jpg">
									</div>
									<br>
									Lendfating
								</a>
								<div class="about">
									<p class="intro">Your bio goes here. It shouldn't be super long but a good two sentences or two should suffice.</p>
								</div>
								<div class="sns">
									<a href="http://www.douban.com/people/44147851" target="_blank"><img alt="Douban_48" src="./cce536fd6811_files/douban_48-be5d39195c94e54ddf7077ed2fa27901.png"></a>
								</div>
							</div>
						</div>
						<div class="comment-list clearfix tab-pane" id="comments">
						</div>
						<div class="tab-pane clearfix like" id="like">
						</div>
						
						<a href="/study//study/sample-link-post/" class="before">
							<i class="icon-arrow-left"></i>上一篇
						</a>
						
						
						<a href="/study//study/background-image/" class="after">
							下一篇<i class="icon-arrow-right"></i>
						</a>
						
					</div>
				</div>
			</div>
		</div>
		<!-- end of 主体显示区 -->
		
	</body>
</html>
