@charset "utf-8";
body{
	height: 100%;
	overflow: hidden;
}
body, button, input, select, textarea {
	font: 500 14px/1.8 Georgia, Times, 'Hiragino Sans GB', \u5B8B\u4F53, serif;
}
/*  common function */
.fn-clear:after             { visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0; }
.fn-clear                   { zoom:1; /* for IE6 IE7 */ }
body .fn-hide               { display:none; }
.fn-left,.fn-right          { display:inline; }
.fn-left                    { float:left; }
.fn-right                   { float:right; }
/*  default reset */
a {
    color: #cd0914;
    text-decoration: none;
}
a:hover { color: #2b3034; text-decoration: none !important;}

/*  layout */
#content { width: 100%;}

#head {
    width: 25%;
    min-width: 295px;
    background: #fff;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 300;
    -webkit-transition:width 200ms ease-in-out, opacity 200ms ease-in-out;
    -moz-transition:width 200ms ease-in-out, opacity 200ms ease-in-out;
    -ms-transition:width 200ms ease-in-out, opacity 200ms ease-in-out;
    -o-transition:width 200ms ease-in-out, opacity 200ms ease-in-out;
    transition:width 200ms ease-in-out, opacity 200ms ease-in-out;
}
#content .head-hide {
    width: 0%;
    min-width: 0%;
    opacity: 0.6;
}
#logo {
    height: auto;
	margin:0px auto;  
	text-align:center; 
    padding: 4em 4em 4em 4em;
}
#logo h1{
	padding-bottom: .3em;
}
#logo h1 a.avatar {
    height: 156px;
	width: 156px;
    overflow: hidden;
    display: inline-block;
    border-radius: 7px 7px;
	background: url("/assets/images/avatar.jpg") no-repeat center center;
	background-size: 156px;
    box-shadow:  -2px 2px 0 0 rgba(0, 0, 0, 0.1), 0 -4px 0 0 rgba(0, 0, 0, 0.2) inset;
    -webkit-transition:all 200ms ease-in-out;
    -moz-transition:all 200ms ease-in-out;
    -ms-transition:all 200ms ease-in-out;
    -o-transition:all 200ms ease-in-out;
    transition:all 200ms ease-in-out;
}
#logo h1 a:hover {
    border-radius: 200px 200px;
}

#info {
	height: auto;
	padding: 1em 4em;
    margin-bottom: .8em;
}
#follow {
    position: absolute;
	bottom: 50px;
	right: 40px;
}
#follow a {
    display: inline-block;
    float: right;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
	background-size: 30px;
	margin: 1.5px;
	height: 30px;
	width: 30px;
	opacity: .5;
	filter: alpha(opacity=50);
}
#follow a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
#follow a.gmail {
	background-image: url("/assets/images/icon_gmail.png");
	background-color: #dd4b39;
}
#follow a.weibo {
	background-image: url("/assets/images/icon_weibo.png");	
	background-color: #f47920;
}
#follow a.facebook {
	background-image: url("/assets/images/icon_facebook.png");
	background-color: #09247C;
}
#follow a.google_plus {
	background-image: url("/assets/images/icon_google_plus.png");	
	background-color: #cd0914;
}
#follow a.github {
	background-image: url("/assets/images/icon_github.png");
	background-color: #4183c4;
}

/*  right place */
#contain {
    margin-left: 25%;
    position: relative;
    z-index: 100;
    width: 75%;
    height: 100%;
    position: relative;
    -webkit-transition:margin-left 200ms ease-in-out, width 200ms ease-in-out;
    -moz-transition:margin-left 200ms ease-in-out, width 200ms ease-in-out;
    -ms-transition:margin-left 200ms ease-in-out, width 200ms ease-in-out;
    -o-transition:margin-left 200ms ease-in-out, width 200ms ease-in-out;
    transition:margin-left 200ms ease-in-out, width 200ms ease-in-out;
}
#content .contain-full {
    margin-left:  0;
    width: 100%;
}
#contain .closeLeft {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 2em;
    left: 2em;
    z-index: 1000;
}
#contain .closeLeft a {
    width: 50px;
    height: 50px;
    display: block;
    font-size: 28px;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.4);
    -webkit-transition:all 200ms ease-in-out;
    -moz-transition:all 200ms ease-in-out;
    -ms-transition:all 200ms ease-in-out;
    -o-transition:all 200ms ease-in-out;
    transition:all 200ms ease-in-out;
    border-radius: 5px 5px;
	opacity: .5;
	filter: alpha(opacity=50);
	background-image:  url("/assets/images/icon_justify.png");
}
#contain .closeLeft a:hover {
	opacity: 1;
	filter: alpha(opacity=100);
    color: rgba(255, 255,255, 0.8);
    background: rgba(255, 255, 255, 0.2);
	background-image:  url("/assets/images/icon_justify.png");
    box-shadow:  0px 2px 0 0 rgba(0, 0, 0, 0.1), 0 -2px 0 0 rgba(0, 0, 0, 0.2) inset;
}
/*  banner */
.banner {
    width: 100%;
    height: 650px;
    max-height: 900px;
    min-height: 550px !important;
    background: url("/assets/images/bg.jpg") no-repeat center 0;
    background-size: cover;
    position: relative;
	overflow: hidden;
}
.banner-content {
    width: 680px;
    height: auto;
    margin: 0 auto;
    padding-top: 4em;
    text-align: center;
}
.bigtitle {
    font-size: 48px;
    color: #fefefe;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.bigtitle-sub {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 1em 0;
    font-weight: lighter;
}
.banner-guide {
    margin: 10em auto;
    list-style-type: none;
}
.banner-guide li {
    margin: 1em 2.5em;
    float: left;
    height: auto;

}
.banner-guide li p {
    font-size: 25px;
    color: #fff;
    margin: 1em 0;
}
.banner-guide li .banner-guide-icon {
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 140px 140px;
    border: 8px solid rgba(255, 255, 255, 0.4);
    color: rgba(249, 249, 249, .9);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition: box-shadow .6s ease-in-out;
    -moz-transition: box-shadow .6s ease-in-out;
    -ms-transition:box-shadow .6s ease-in-out;
    -o-transition:box-shadow .6s ease-in-out;
    transition:box-shadow .6s ease-in-out;
    box-shadow: 0 0 0 1.8em transparent;
    transform: translate3d(0, 0, 0);
    transition: box-shadow .6s ease-in-out;
}
.banner-guide li .banner-guide-icon:hover {
    color: rgba(249, 249, 249, 0.99);
    border: 8px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0px 0px rgba(255,255,255,0.28);
    transition: box-shadow .4s ease-in-out;
}
.banner-guide li .study {
	background:  url("/assets/images/icon_study.png") no-repeat center center;
	background-size: 100px;
}

.banner-guide li .project {
	background:  url("/assets/images/icon_project.png") no-repeat center center;
	background-size: 100px;
}

.banner-guide li .life {
	background:  url("/assets/images/icon_life.png") no-repeat center center;
	background-size: 100px;
}


